/* REGULAR ROBOTO */
@font-face {
  font-family: "Roboto";
  font-style: regular;
  font-weight: 400;
  src: local(""), url("../fonts/RobotoRegular.woff2") format("woff2"),
    url("../fonts/RobotoRegular.woff") format("woff");
}

/* BOLD Philosopher */
@font-face {
  font-family: "Philosopher";
  font-style: bold;
  font-weight: 700;
  src: local(""), url("../fonts/philosopher.woff2") format("woff2"),
    url("../fonts/philosopher.woff") format("woff");
}

/* REGULAR Alegreya */
@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/alegreya-sans-sc-regular.woff2") format("woff2"),
    url("../fonts/alegreya-sans-sc-regular.woff") format("woff");
}

/* REGULAR Montserrat */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-regular.woff2") format("woff2"),
    url("../fonts/montserrat-regular.woff") format("woff");
}
