.form {
    &__field {
        color: #A5A5A5;
        font-family: "Roboto", sans-serif; 
        font-size: 13px;
        line-height: 13px;
        font-weight: 400;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 14px;
    }
}